@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";

  --color-nexus-purple: #732adf;
  --color-nexus-deep: #0c083a;
  --color-nexus-teal: #65bbbd;
  --color-nexus-dark: #27342c;
  --color-nexus-glass: rgba(255, 255, 255, 0.05);
  --color-nexus-glassBorder: rgba(255, 255, 255, 0.1);

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

:root {
  --background: #0c083a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0c083a;
}
::-webkit-scrollbar-thumb {
  background: #27342c;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #732adf;
}
